#background{
  justify-content: center;
}
#home{
    position:fixed;
    top:10%;
    left:28%;
    right:25%; 
    margin: auto;
    vertical-align: middle;
    background-color: #202020;;
    border-radius: 75%;
    padding:2%;
    height: auto;
    width: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    column-gap: 2%;
    row-gap: 2%;
}
#homeSignIn {
  width: 40%;
  height: 100px;
  z-index: 4;
  background-color: #448d76;
  border-radius: 75%;
  align-items: center;
  justify-content: center;
}

  
.homeLinks{
    width: 30%;
    height: 30px;
    background-color:#f7edd4;
    border-radius: 75%;
  }
  .logo{
    height: 50%;
  }
  
  #header {
    color: #fcba12;
  }
  
  .logButtons {
    color: #fcba12;
  }
  
  .row {
    display: flex;
    flex-wrap: nowrap;
    /* max-height: 100vh; */
    
  }
  .collageImages{
    opacity: .6;
    height:200px; 
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 20%;

  }
  .columnMid{
      flex:50%;
      max-width: 50%;
      background-color: black;
  }
  
  .column img {
    vertical-align: middle;
    width: 100%;
    }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  
  }
}
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    display: none;
   
  }
  #background{
    background-color: black;
  }
  #home{
 position: relative;
    left:2%;
    right:2%;
   
  }
  .row {

    flex-wrap: wrap;
    
  }
}
  
